.grass, .Grass {
    background: rgb(52,150,2);
    background: radial-gradient(circle, rgba(52,150,2,1) 0%, rgba(120,198,57,1) 100%);
}

.fire, .Fire {
    background: rgb(199,32,0);
    background: radial-gradient(circle, rgba(199,32,0,1) 0%, rgba(243,85,35,1) 100%);
}

.water, .Water {
    background: rgb(16,106,200);
    background: radial-gradient(circle, rgba(16,106,200,1) 0%, rgba(71,161,242,1) 100%);
}

.bug, .Bug {
    background: rgb(136,150,13);
    background: radial-gradient(circle, rgba(136,150,13,1) 0%, rgba(173,189,35,1) 100%);
}

.normal, .Normal {
    background: rgb(144,137,121);
    background: radial-gradient(circle, rgba(144,137,121,1) 0%, rgba(200,195,187,1) 100%);
}

.poison, .Poison {
    background: rgb(76,12,78);
    background: radial-gradient(circle, rgba(76,12,78,1) 0%, rgba(149,71,150,1) 100%);
}

.electric, .Electric {
    background: rgb(231,147,2);
    background: radial-gradient(circle, rgba(231,147,2,1) 0%, rgba(254,223,141,1) 100%);
}

.ground, .Ground {
    background: rgb(180,145,53);
    background: radial-gradient(circle, rgba(180,145,53,1) 0%, rgba(247,242,226,1) 100%);
}

.fairy, .Fairy {
    background: rgb(224,142,224);
    background: radial-gradient(circle, rgba(224,142,224,1) 0%, rgba(246,186,246,1) 100%);
}

.flying, .Flying {
    background: rgb(93,116,212);
    background: radial-gradient(circle, rgba(93,116,212,1) 0%, rgba(193,203,249,1) 100%);
}

.fighting, .Fighting {
    background: rgb(96,39,26);
    background: radial-gradient(circle, rgba(96,39,26,1) 0%, rgba(196,157,142,1) 100%);
}

.rock, .Rock {
    background: rgb(156,132,59);
    background: radial-gradient(circle, rgba(156,132,59,1) 0%, rgba(202,183,123,1) 100%);
}

.dark, .Dark {
    background: rgb(60,45,35);
    background: radial-gradient(circle, rgba(60,45,35,1) 0%, rgba(87,65,51,1) 100%);
}

.steel, .Steel {
    background: rgb(142,142,159);
    background: radial-gradient(circle, rgba(142,142,159,1) 0%, rgba(183,183,197,1) 100%);
}

.dragon, .Dragon {
    background: rgb(77,64,148);
    background: radial-gradient(circle, rgba(77,64,148,1) 0%, rgba(160,146,233,1) 100%);
}

.ghost, .Ghost {
    background: rgb(65,64,103);
    background: radial-gradient(circle, rgba(65,64,103,1) 0%, rgba(125,129,182,1) 100%);
}

.ice, .Ice {
    background: rgb(110,208,244);
    background: radial-gradient(circle, rgba(110,208,244,1) 0%, rgba(224,248,251,1) 100%);
}

.psychic, .Psychic {
    background: rgb(219,50,105);
    background: radial-gradient(circle, rgba(219,50,105,1) 0%, rgba(240,137,172,1) 100%);
}

.hp {
    background: rgb(199,32,0);
    background: radial-gradient(circle, rgba(199,32,0,1) 0%, rgba(243,85,35,1) 100%);
}

.attack {
    background: rgb(231,147,2);
    background: radial-gradient(circle, rgba(231,147,2,1) 0%, rgba(254,223,141,1) 100%);
}

.defense {
    background: rgb(231,147,2);
    background: radial-gradient(circle, rgba(231,147,2,1) 0%, rgba(254,223,141,1) 100%);
}

.special-attack {
    background: rgb(110,208,244);
    background: radial-gradient(circle, rgba(110,208,244,1) 0%, rgba(224,248,251,1) 100%);
}

.special-defense {
    background: rgb(52,150,2);
    background: radial-gradient(circle, rgba(52,150,2,1) 0%, rgba(120,198,57,1) 100%);
}

.speed {
    background: rgb(219,50,105);
    background: radial-gradient(circle, rgba(219,50,105,1) 0%, rgba(240,137,172,1) 100%);
}
