.c-pokemon__single {
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    background-size: cover;
    min-height: 100%;
    transition: .3s;

    &:hover {
        transform: rotate(6deg);
        width: 60%;
        min-height: calc(100% + 10%);
    }

    img {
        width: auto;
        height: 50px;
    }
}

.c-pokemon__single-stat {
    border-radius: 10px;
    padding: 10px;
    min-height: 70px;
}

.c-pokemon__single-evolution {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

    img:hover {
        cursor: pointer;
    }
}

.c-pokemon__single-image, .c-pokemon__single-stats {
    padding: 20px;
    border-radius: 20px;
    background-size: cover;
    transition: .3s;
    background-color: white;
}

.c-pokemon__single-image {
    width: 35%;
    img {
        width: auto;
        height: 100px;
    }
}

.c-pokemon__single-stats {
    width: 65%;

    .c-pokemon__single-type {
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        margin: 5px 0;
    }
}

.c-pokemon__single-open {
    animation: openPokemonBox 2s;
    width: 100%;
    height: 600px;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;

    &.close {
        animation: closePokemonBox 2s;
        width: 0;
        height: 0;
        padding: 0;
    }

    .c-pokemon__single-close {
        font-size: 25px;
    }
}

.c-pokemon__next-prev {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;

    img {
        width: 90px;
        height: auto;
    }

     &.--prev {
         margin-left: -30px;
         transition: .3s;

         &:hover {
             margin-left: 0;
         }
     }

    &.--next {
        margin-right: -30px;
        transition: .3s;

        &:hover {
            margin-right: 0;
        }
    }
}

// Animations
@keyframes openPokemonBox {
    0%   {
        width: 0;
        height: 0;
    }
    20%  {
        width: 100%;
        height: 200px;
    }
    100% {
        width: 100%;
        height: 600px;
    }
}

@keyframes closePokemonBox {
    0%   {
        width: 100%;
        height: 600px;
        padding: 20px;
    }
    80%  {
        width: 100%;
        height: 200px;
        padding: 20px;
    }
    100% {
        width: 0;
        height: 0;
        padding: 0;
    }
}
