.c-pokemon__single {
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    min-height: 100%;
    transition: .3s;

    &:hover {
        transform: rotate(6deg);
        width: calc(var(--full-width) + 10%);
        min-height: calc(var(--full-width) + 10%);
    }

    img {
        width: auto;
        height: 50px;
    }
}

.c-pokemon__single-stat {
    border-radius: 10px;
    padding: 10px;
    min-height: 70px;
}

.c-pokemon__single-evolution {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

    img:hover {
        cursor: pointer;
    }
}

.c-pokemon__single-image, .c-pokemon__single-stats {
    padding: 20px;
    border-radius: 20px;
    background-size: cover;
    transition: .3s;
    background-color: white;
}

.c-pokemon__single-image {
    height: 100%;
    img {
        width: auto;
        height: 100px;
    }
}

.c-pokemon__single-stats {
    width: 65%;

    .c-pokemon__single-type {
        border-radius: 20px;
        padding: 10px;
        text-align: center;
        margin: 5px 0;
    }
}

.c-pokemon__single-open {
    animation: openPokemonBox 2s;
    width: 100%;
    height: 650px;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;

    &.close {
        animation: closePokemonBox 2s;
        width: 0;
        height: 0;
        padding: 0;
    }

    .c-pokemon__single-close {
        font-size: 25px;
    }
}

.c-pokemon__next-prev {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;

    img {
        width: 90px;
        height: auto;
    }

     &.--prev {
         margin-left: -30px;
         transition: .3s;

         &:hover {
             margin-left: 0;
         }
     }

    &.--next {
        margin-right: -30px;
        transition: .3s;

        &:hover {
            margin-right: 0;
        }
    }
}

// Animations
@keyframes openPokemonBox {
    0%   {
        width: 0;
        height: 0;
    }
    20%  {
        width: 100%;
        height: 200px;
    }
    100% {
        width: 100%;
        height: 650px;
    }
}

@keyframes closePokemonBox {
    0%   {
        width: 100%;
        height: 650px;
        padding: 20px;
    }
    80%  {
        width: 100%;
        height: 200px;
        padding: 20px;
    }
    100% {
        width: 0;
        height: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 567px) {
    .c-pokemon__next-prev {

        &.--prev {
            margin-left: -70px;
        }

        &.--next {
            margin-right: -70px;
        }
    }
}


@media only screen and (max-width: 768px) {
    .c-pokemon__single-image, .c-pokemon__single-stats {
        width: 100%;
    }

    .c-pokemon__single-open {
        overflow: scroll;
    }
}

@media only screen and (max-width: 1024px) {
    .base-stats {
        height: 120px;
        overflow: scroll;
    }

    .c-pokemon__single-open {
        height: 500px;
    }

    @keyframes openPokemonBox {
        0%   {
            width: 0;
            height: 0;
        }
        20%  {
            width: 100%;
            height: 200px;
        }
        100% {
            width: 100%;
            height: 500px;
        }
    }

    @keyframes closePokemonBox {
        0%   {
            width: 100%;
            height: 500px;
            padding: 20px;
        }
        80%  {
            width: 100%;
            height: 200px;
            padding: 20px;
        }
        100% {
            width: 0;
            height: 0;
            padding: 0;
        }
    }
}
